@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-btn{
    display: none !important;
}

.ant-modal-close{
    display: none !important;
}

.ant-modal-title{
    font-size: 24px !important;
    font-weight: bold !important;
}

